body
{
	color:#666;
	color:#574742;
 font-family:'Muli', Lucida Sans Unicode, Lucida Grande, Verdana, Tahoma, Arial, Sans-serif;
 font-weight:normal;
 font-size:0.8em;
 min-width:1200px;
}

fbody
{
	font-size:13px;
	color:#6d6a67;
}

.a
{
	color:#CD352B;
	color:#F47A10;
	color:#EB5F3A;
	color:#ff8f85;
}

a
{
	color:#605C59;
	color:#72b195;
	color:#F47A10;
	color:#ff8f85;
	
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#eaeaea, #e7e7e7);
  background-image: -moz-linear-gradient(#eaeaea, #e7e7e7);
  background-image: -o-linear-gradient(#eaeaea, #e7e7e7);
  background-image: linear-gradient(#eaeaea, #e7e7e7);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEAEAEA', endColorstr='#FFE7E7E7');
  background:url("images/sspat.jpg");
  margin: 0 auto;
  padding-top: 5px;
  widows:100%;
}
.jumbotron > .container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#ffffff, #fafafa);
  background-image: -moz-linear-gradient(#ffffff, #fafafa);
  background-image: -o-linear-gradient(#ffffff, #fafafa);
  background-image: linear-gradient(#ffffff, #fafafa);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFAFAFA');
  background-color: #fdfdfd;
  background-repeat: repeat-x;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 20px 10px 20px;
  background:url(/images/white50.png);
  box-shadow:0px 0px 2px #DDDAD2;
}
.jumbotron p {
  color: #777;
  margin-bottom: 0;
}

#logo
{
	text-align:center;
	margin:10px auto;
}

.navbar-inner
{
	background: none;
	border-bottom:none;
	padding:0px;
}

.menbar
{
	padding:0px 10px 0px 10px;
	border-top:1px solid #DDD;
}

.stuckbar
{
	background: none;
	padding:5px 10px;
	min-height:25px;
	width:100%;
	z-index:9990;
	background:#FFF;
	border-top:8px solid #000;
}

.dropdown-menu
{
	z-index:9996;
}

.modal-backdrop {
	z-index:9998;
}

.modal
{
	z-index:9999;
}

.modal-body
{
	max-height: none;
}

.stuckbar2
{
	width:100%;
	background:#FFF;
	width:1180px;
	border-top:1px solid #D0B000;
	padding-bottom:10px;
	margin:0px auto;
	z-index:9985;
	padding-top:20px;
}

.stuckbarside
{
	width:100%;
	z-index:9985;
	background:#FFF;
	width:300px;
	border-bottom:1px solid #D0B000;
	padding-bottom:10px;
	margin-left:20px;
}

.stuckbarsidetop
{
	z-index:9985;
	background:#FFF;
	width:350px;
	border-bottom:1px solid #D0B000;
}

.stuckbarsideleft
{
	width:100%;
	z-index:9985;
	background:#FFF;
	width:210px;
	padding-bottom:10px;	
}



.stuckbar .innerm
{
	background:none;
	padding:0px 10px 15px 10px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
	
}

#scrolldiv
{
	margin-top:5px;
}

.menbar.stuckbar
{
	padding:5px;
	background:#FFF;
	height:45px;
-webkit-box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.1);
box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.1);
}

.innerm
{
	width:1180px;
	margin:0px auto;
	padding:2px 10px 20px 10px;
	text-align:left;
	background:url(/images/menu41200.png) no-repeat;
	background-position:50% 0%;
	margin-top:-1px;
	height:40px;
}

.up
{
	font-size:12px;
	text-transform:uppercase;
}

.breadcrumb
{
	background:#FFF;
	border-bottom:1px dashed #DDD;
}

.bigone
{
	color:#000;
	font-weight:bold;
	font-size:40px;
	letter-spacing:-1px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform:lowercase;
	margin-bottom:7px;
}

.bigonelean
{
	color:#000;
	font-weight:300;
	font-size:40px;
	letter-spacing:-1px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform:lowercase;
	margin-bottom:20px;
}

.hoblock
{
	text-shadow:0px 1px 4px #333;
	color:#FFF;
	font-size:50px;
}

.goldline
{
	border-bottom:1px solid #D0B000;
	width:100%;
	height:1px;
	margin:10px 0px;
	clear: both;	
}

.prmenbar1
{
	padding:5px 20px 5px 20px;
background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.06)));background-image:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));background-image:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));background-image:-o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));background-color:white;
	text-shadow:0px 1px 1px #FFF;
}

.goldlines
{
	border-bottom:1px solid #D0B000;
	width:100%;
	height:1px;
	margin:3px 0px;
	clear: both;	
}

.goldline1
{
	border-bottom:1px solid #D0B000;
	width:100%;
	height:1px;
	margin:1px 0px;
	clear: both;	
}
.goldline2
{
	border-bottom:2px solid #D0B000;
	width:100%;
	height:1px;
	margin:0px;
	clear: both;	
}


.h1sh
{
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1;
  color: inherit;
  padding-left:20px;
  margin-bottom:10px;
  text-transform:lowercase;
  color:#BCAC76;
 font-weight:normal;
 letter-spacing:0px;
 text-transform:none;
 padding-top:20px;
 padding-bottom:10px;
 background-position: bottom;
	text-transform:uppercase;
	text-transform:none;
	font-weight:300;
	padding-left:0px;
	padding-top:0px;
}


.pagetitle
{
  font-size: 24px;
  color:#D0B000;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-weight:normal;
  text-transform:uppercase;
  border-bottom:1px solid #D0B000;
	font-size:24px;
	font-family:"Century Gothic", "Times New Roman", Times, serif;
	font-family: 'Playfair Display', serif;
	color:#000;
}

.cityblocks
{
	display:inline-block;
	margin:0px 50px 20px 0px;
	width:150px;
}

.ques
{
	font-size:14px;
	color:#D0B100;
}

.stripe
{ 
background:url(/images/bgstripes.jpg);
}

#filbar
{
	vertical-align:top; border-bottom:1px double #DDD; margin-bottom:10px; background:#FFF;
}


.iconholder
{
  padding:20px 20px;
}

.iconblock
{
  display:inline-block;
  text-align:center;
  width:100px;
  vertical-align:top;
  padding:20px;
  border-top:1px solid #FFF;
}

.iconblock:hover
{
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-top:1px solid #EEE;
}

.iconblock img
{
	height:40px;
}

.icondesc
{
  margin-top:10px;
  padding:3px 7px;
  color:#666;
  line-height:16px;
  font-size:12px;
  text-align:center;
  text-shadow:0px 1px 1px #FFF;
  font-family: 'Playfair Display', serif;
}

.icondesc a
{
	color:#000;
}

.h2head
{
	font-size:13px;
	text-transform:uppercase;	
	color:#F47A10;
	line-height:20px;
	margin-top:10px;
}

.h2lin
{
  position: relative;
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-bottom-color: #F1E9CC;
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  text-align:center;
  font-size:13px;
  text-transform:uppercase;	
  line-height:24px;
  margin-bottom:20px;
  margin-top:5px;
}

.h2lin strong
{
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  top: 12px;
  font-weight:normal;
  line-height:20px;
}

.br
{
	margin-top:10px;
}

.hlink
{
	font-size:13px;
	margin:0px;
	padding:0px;
	font-weight:normal;
	line-height:26px;
}

.hlink a
{
		font-weight:normal; 
}


ul.filters>li>a
{
padding-left: 30px;
background-color: transparent;
background-image: url("/images/checkbox.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 10px 7px;
background-clip: border-box;
background-origin: padding-box;
background-size: auto auto;
display:block;
}

ul.filters>li>a:hover
{
background-image: url("/images/checkbox.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 10px 7px;
}

.xlabel
{
	margin-right:5px;
}

ul.filters>li>a:hover
{
background-position: 10px -80px;
}


ul.filters>li>a.checked
{
background-position: 10px -77px;
background-color: #EEE;
}

.filbadge
{
border-radius: 39px;
padding-left: 6px;
padding-right: 7px;
background-color: #F47A10;
color: white;
display: inline-block;
font-size: 11px;
font-weight: bold;
line-height: 11px;
padding: 1px 5px;
text-shadow:none;
}

.btn-toolbar
{
	margin-bottom:0px;
}


.listingsh
{
  padding:10px 0px;
  border-bottom:1px solid #CCC;
  overflow:hidden;
  background:#FFF;
  border-bottom:1px solid #F1E9C9;
  margin:0px 0px 5px 0px;
  vertical-align:top;
  font-size:12px;
}

.listingsh_name
{
	margin-bottom:15px;
}

.listingshun
{
  padding:10px 0px;
  border-bottom:1px solid #CCC;
  overflow:hidden;
  background:#FFF;
  border-bottom:1px solid #D0B100;
  margin:0px 0px 15px 0px;
  vertical-align:top;
  height:200px;
  font-size:12px;
}

.listingsh_left
{
  margin:0px 10px 0px 0px; 
  width:165px;
  position:absolute;
}

.listingsh_ppic
{
	width:160px;
}

.listingsh_call
{
	
}

.listingsh_btns
{
	margin:10px 0px 10px 0px;
}

.listingsh_btnsun
{
	margin:20px 0px 0px 0px;
}

.listingsh_right
{
float:right;
width:100px;
position:relative;
vertical-align:top;
border-left:1px solid #DDD;
padding-left:10px;
line-height:18px;
padding-left:13px;
}

.listingsh_mid
{
float:right;
width:440px;
width:520px;
position:relative;
vertical-align:top;
padding:0px 10px;
margin-bottom:15px;
}

.listingsh_mid_nopic
{
float:left;
width:620px;
position:relative;
vertical-align:top;
padding:0px 10px 0px 0px;
}

.listingsh_mid .listingsh_photobar
{
	float:right;width:160px; margin-top:20px;
}

.listingsh_mid_nopic .listingsh_photobar
{
	float:right;width:200px;
}

.listingsh_mid_full
{
width:520px;
position:relative;
vertical-align:top;
padding:0px 0px;
}

.listingsh_about
{
	line-height:18px;
	color:#888;
}

.listingsh_name h2, .h2g
{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1;
  color: inherit;
  padding-left:20px;
  color:#BCAC76;
 font-weight:normal;
 letter-spacing:0px;
 padding-top:0px;
	font-weight:300;
	padding-left:0px;
}

.listingsh_name h2 a, .h2g a
{
	color:#D0B000;
}

.statlabel
{
	margin-right:15px;
	text-transform: lowercase;
}

.statlabelc
{
	text-transform: lowercase;
	text-align:center;
}

.statlabel a
{
	color:#666;
}

.rating a
{
	text-decoration:underline;
}

.statlabel i
{
	font-size:14px;
}

.rating
{
  background-color: transparent;
  background-image: url("/images/star-ratings.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px -100%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  height: 16px;
  line-height: 16px;
  width: 120px;
  padding-left:80px;
}

.star5
{
  background-position: 0px 0px;
}

.star4
{
  background-position: 0px -16px;
}

.star3
{
  background-position: 0px -32px;
}

.star2
{
  background-position: 0px -48px;
}

.star1
{
  background-position: 0px -64px;
}

.star0
{
  background-position: 0px -80px;
}

.listingsh_score
{
	padding-bottom:15px;
	font-size:11px;
	line-height:16px;
}


.listingsh_mainscore
{
	position: absolute;
	margin: -35px 0px 0px 80px;
	background: #F47A10;
	padding: 12px;
	font-size: 18px;
	border: 4px solid #E4DCD1;
	color: #FFF;
	line-height: 18px;
}

.venrating {
	background: url('/images/ssr.png') no-repeat;
	width: 42px;
	height: 50px;
	padding: 15px 10px;
	font-size: 27px;
	color: #FFF;
	font-weight:bold;
	letter-spacing:-1px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform:lowercase;
	margin-bottom:20px;
	
}
.ventxt {
	font-size: 11px;
	margin: 35px auto 0px auto;
	background: #EEE;
	color: #666;
	font-weight:normal;
	letter-spacing:0px;
	position: absolute;
	text-shadow: 0px 1px 1px #FFF;
	padding: 1px 3px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
	text-align:center;
}

.listingsh_mid .listingsh_dec
{
line-height:22px; padding-left:0px; margin-top:20px;margin-bottom:5px;float:left;width:480px; min-height:85px;
padding-left:20px;
}

.listingsh_mid_nopic .listingsh_dec
{
line-height:22px; padding-left:0px; margin-top:20px;margin-bottom:5px;float:left;width:330px;width:480px;
}

.btn.btn-mini.disabled.nontran
{
-ms-filter:"alpha(opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;
}

.listingsh_media
{
	margin:5px 0px 7px 0px;padding-bottom:5px; font-size:13px;
}

.listingsh_mediap
{
	line-height:24px;
}

.listingsh_media i
{
	margin-right:3px;
}

.btn.btn-mini.disabled {
background: url(/images/bg_brown_mat.png);
text-shadow: 0px 1px 1px #fff;
color: #333;
}

.modal-header
{
	background:url(/images/sspat.jpg);
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
	text-transform:uppercase;
	color:#630;
	text-shadow:0px 1px 1px #f5f5f5;
	font-weight:normal;
}

.modal-body
{
	background:url(/images/papereffect.jpg);
}


/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
background:url(/images/bg29.png) #F4F3F1;
background-size: 4%;
box-shadow: inset 0 2px 10px #AAA;
margin-top:30px;
padding-left:30px;
padding-top:20px;
text-align:center;
}

.tisty
{
	background:url(/images/crosscriss.png) #F4F3F1;
	width:300px;
	padding:44px 77px;
}

/**
 * Grid items
 */
.imgholder{
  cursor: pointer;
  margin:10px;

  display:inline-block;
  vertical-align:top;
  overflow:hidden;
  float:left;
  position:relative;
  overflow:hidden;	
	min-height:220px;
	background:#FFF;
	padding: 1px 18px 24px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-top:1px solid #EEE;
}

.imgholder .scimg {
width:260px;
width:220px;
height:220px;
}

/**
 * Grid item text
 */
.imgholder p {
color: #666;
font-size: 11px;
line-height: 16px;
margin: 6px 0 1px 7px;
}

/** Loader **/
  
#loadersc {
	z-index:9999;
	position:fixed;
	bottom:20px;
	right:20px;
  text-align: center;
  width:40px;
  height:40px;
}
  
#loaderCircle {
  width:40px;
  height:40px;
  margin: 0 auto;
  background: url('/images/loader.gif') no-repeat;
}


.imgholderv
{
	display:inline-block;	
  cursor: pointer;
  margin:10px;
  vertical-align:top;
  overflow:hidden;
  float:left;
  position:relative;
  overflow:hidden;	
	min-height:340px;
	background:#FFF;
	padding: 1px 18px 24px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-top:1px solid #EEE;
}

.imgholderv img
{
	width:240px;
}

.lbar
{
	font-size:11px;
	line-height:16px;
	margin-top:10px;
	margin-bottom:10px;
}

.imgholder_image
{
  margin-bottom:0px;
}

.imgholder_image img
{
  overflow:hidden;
  margin-top:20px;
}

.menicon img
{
	width:23px;
	margin-top:-5px;
}

.menicon .caret
{
}

.showpil
{
	border:1px solid #DDD;
	padding:5px;
	background:#FFF;
	z-index:9990;
}

.showpil li a
{
margin-bottom: 0px;
margin-top: 4px;
padding-bottom: 5px;
padding-top: 8px;
}

#showcasebar
{
	width:1170px;
	margin:0px auto;
}

#mywedbar
{
	width:860px;
	margin:0px auto;
	padding:10px 20px;
	margin-top:20px;
	background:url(/images/crosscriss.png);
	border:none;
}

#mywedbar li
{
	text-shadow:0px 1px 1px #FFF;
}

.showcasebarstuck
{
	background:#FFF;
	width:1200px;
	margin:0px auto;
	z-index:9985;
	padding-top:20px;
}

.probarstuck
{
	background:#FFF;
	width:1200px;
	margin:0px auto;
	z-index:9995;
	margin-left:-250px;
}
.none
{
	display:none;
}

.upcasesmall
{
	font-size:12px;
	color:#999;
	text-transform:uppercase;
}

#showcasepop
{
	position:absolute;
	width:1200px;
	left:25%;
}

#showcasepop .modal-body
{
	background:#FFF;
}

.showcasetitle
{
	background:url(/images/pathead.png) no-repeat;
	border-bottom:1px solid #D0B000;
	border-top:1px solid #D0B000;
	padding:22px 10px 22px 80px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom:10px;
  color:#000;
 font-weight:normal;
	font-weight:300;
	margin-bottom:20px;
}

.toptitle
{
	border-bottom:1px solid #D0B000;
	padding:10px 10px 10px 10px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1;
  margin-bottom:10px;
  color:#000;
 font-weight:normal;
	margin-bottom:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.showcasepic
{
	display:inline-block;
	border:1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 12px #CCC;
  padding:10px;
}

.showcasepic img
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position:relative;
  background:#FFF;
}

.sideprofile
{
}

.showthumb img
{
	width:160px;
}

.showthumb .smaller img
{
	width:140px;
}

.profile_bar
{
	width:200px;
	line-height:18px;
	margin-top:10px;
}

.profile_name
{
}

.showthumb
{
	margin:0px 5px 15px 0px;
	display:inline-block;
}

.btn-info
{
color: #fff;
text-align: center;
background-color: #f0184f;
background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3), transparent 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3), transparent 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0.3), transparent 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0.3), transparent 100%);
cursor: pointer;
}

.btn-info:hover
{
	background: #F03;
}


.bfont
{
	color:#000;
	font-weight:bold;
	font-size:48px;
	letter-spacing:-2px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform:lowercase;
	padding-top:6px;
}

.prrh2
{
	font-size:18px;
	font-family:"Century Gothic", "Times New Roman", Times, serif;
	font-weight:normal;
	margin-top:0px;
	padding-top:0px;
	color:#FFA02F;
	text-transform:uppercase;
	padding-bottom:0px;
	margin-bottom:5px;
	margin-top:0px;
	line-height:20px;
}

.prrh2 a
{
	color:#FFA02F;
}

.edesc
{
	line-height:22px;
	font-size:12px;
}

.estart
{
	font-style:italic;
	border-bottom:1px dashed #DDD;
	margin:0px 10px 10px 10px;
	
}

.mon
{
	text-transform:uppercase;
	font-size:14px;
	background:url(/images/bg_brown_mat.png);
	margin:10px 15px 30px 15px;
	line-height:19px;
	text-shadow:0px 1px 1px #FFF;
}

.eslash
{
	color:#CCC;
	font-size:40px;
	font-weight:300;
	margin-left:4px;
}

.elabel
{
	color:#AAA;
	text-transform:uppercase;
}

.eval
{
}


.rblocks
{
  display:inline-block;
  width:160px;
  margin-right:10px;
  margin-bottom:20px;
  vertical-align:top;
  text-align:center;
  padding:0px 10px;
}

.rblocks_title
{
  background:url(/images/bg_brown_mat.png);
  margin-top:5px;
  padding:3px 10px;
  background: url(/images/bg_brown_mat.png);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
	text-align:center;    
}

.rblocks_title a
{
	color:#333;
	text-shadow:0px 1px 1px #FFF;
}


.compbox
{
	font-size:18px;
	font-family:"Century Gothic", "Times New Roman", Times, serif;
	font-weight:normal;
	margin-top:0px;
	padding-top:0px;
	color:#FFA02F;
	text-transform:uppercase;
}

.pr_statsbar
{
	height:80px;
	width:1170px;
	margin-top:-80px;
	background:url(/images/transparentb.png);
	position:absolute;
}

.pr_statsbox
{
	padding:10px;
}

.pr_bc
{
	color:#FFF;
	font-size:40px;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow:1px 1px 2px #000;
	font-weight:normal;
}

.pr_bcsub
{
	color:#FFA02F;
	padding-top:5px;
}

.pr_pic
{
	width:180px;
}

.pr_pic_wrap
{
	background:url('/images/white50.png');
	padding:15px;
	position:absolute;
	margin:-130px 0px 0px 20px;
  -webkit-box-shadow: 0 3px 6px #999;
     -moz-box-shadow: 0 3px 6px #999;
          box-shadow: 0 3px 6px #999;	
}

.pr_pic_wrap_nocover
{
	background:url('/images/white50.png');
	padding:10px;
	position:absolute;
	margin:10px 0px 0px 20px;
  -webkit-box-shadow: 0 3px 6px #999;
     -moz-box-shadow: 0 3px 6px #999;
          box-shadow: 0 3px 6px #999;	
		  width:150px;
}
.listingsh_picc
{
	background:url('/images/white50.png');
	padding:10px;
  -webkit-box-shadow: 0 3px 6px #999;
     -moz-box-shadow: 0 3px 6px #999;
          box-shadow: 0 3px 6px #999;	
		  width:150px;
}

.pr_pic_wrapside
{
	background:url('/images/white50.png');
	padding:10px;
	margin:10px 0px 0px 0px;
  -webkit-box-shadow: 0 3px 6px #999;
     -moz-box-shadow: 0 3px 6px #999;
          box-shadow: 0 3px 6px #999;
		  width:160px;	
		  margin-bottom:20px;
		  
}

.pr_picside
{
	width:160px;
}

.pr_pic
{
	width:180px;
}
.prof
{
}

.prtitle
{
	text-align:left;
	font-weight:normal;
	font-size:22px;
	color:#D0B000;
	text-transform:uppercase;
	font-weight:300;
	padding-bottom:0px;
	margin-bottom:7px;
	padding-top:0px;
	margin-top:0px;
	line-height:28px;
	font-family:"Century Gothic", "Open Sans", Arial, sans-serif;
	color:#000;
		
}

.os
{
	font-family:"Open Sans", Arial, sans-serif;
}
.prtitle a
{
	color:#000;
}

.pblo
{
	padding:3px 20px;
	line-height:24px;
	margin-bottom:20px;
}

.wellc
{
	padding:5px 20px 3px 20px;
	text-shadow:0px 1px 1px #FFF;
	background:#f5f5f5;
	margin-right:30px;
	margin-bottom:15px;
}

.wellcc
{
	padding:5px 5px 15px 30px;
	text-shadow:0px 1px 1px #FFF;
	background:url('/images/crosscriss.png');
	margin:15px 0px;
}

.slickbar
{
	padding:10px 20px;
	text-shadow:0px 1px 1px #FFF;
	background:url('/images/crosscriss.png');
	margin-bottom:15px;
}


.prmenbar
{
background:url(/images/prmen1200.png) no-repeat; margin:0px auto; height:40px;margin-top:-40px; padding:48px 30px 0px 60px; background-size:1170px;
}

.prmenbar a,.prmenbar1 a
{
	color:#666;
}

.prm
{
	margin-right:40px;
	text-shadow:0px 1px 0px #FFF;
	font-size:14px;
	font-weight:300;
}

.prm.sel
{
	background:#FFF;
	padding:2px 10px;
}

.h2side
{
	font-size:14px;
	font-weight:300;
	padding:0px;
	margin:0px;
	line-height:30px;
}

.orange
{
	color:#FFA02F;
	color:#F77E00;
	margin-left:5px;
}

.m260
{
	margin-left:260px;
}



.photoholder
{
	display:inline-block;
	width:255px;
  cursor: pointer;
  margin:10px;

  display:inline-block;
  vertical-align:top;
  overflow:hidden;
  float:left;
  position:relative;
  overflow:hidden;	
	min-height:220px;
	background:#FFF;
	padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-top:1px solid #EEE;
}

.photoholder_image img
{
	min-width:255px;
}

.lshad
{
	background:url(/images/vshad.png) no-repeat;
	background-position:right top;
	padding-right:30px;
}

.prof_rating {
margin: 0px 0px 0px 20px;
}

.profile_lin
{
	font-size:14px;
	font-weight:300;
	padding: 4px 0px;
	margin:0px;
	line-height:22px;
	border-bottom:1px solid #DDD;
}

.profile_linb
{
	font-size:14px;
	font-weight:300;
	padding: 4px 0px;
	margin:0px;
	line-height:22px;
}

#faqsblock
{
	font-size:14px;
	font-weight:300;
}

.profile_qu
{
	color:#F47A10;
	font-size:16px;
	margin-bottom:5px;
	padding-bottom:0px;
	line-height:24px;
	margin-top:30px;
}

.profile_ans
{
	margin-left:20px;
}

.profile_lin a
{
	color:#333;
}

.f14
{
	font-size:14px;
}

.statb
{
	color:#333;
	text-shadow:none;
	font-size:24px;
	font-weight:bold;
}

.mid
{
	margin-right: auto;
	margin-left: auto;
	text-align:center;
}

.procard
{
	background:url(/images/low_contrast_linen.png);
	padding:20px 10px;
}

address {
display: block;
line-height: 18px;
margin-bottom: 15px;
background: url(/images/loc.png) no-repeat;
padding-left: 30px;
font-weight:300;
font-size:13px;
}

.note {
   position:relative;
   padding:5px 15px;
   color:#fff;
   background:#97C02F;
   overflow:hidden;
   margin-top:20px;
}

.note:before {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff #fff #F79D00 #F79D00;
   background:#F79D00;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
   -webkit-border-radius:5px 0 5px 5px;
   -moz-border-radius:5px 0 5px 5px;
   border-radius:5px 0 5px 5px;
}

.note.rounded:before {
   border-width:8px;
   border-color:#fff #fff transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
}

.mpr
{
	float:left;
	margin:0px 20px 0px 0px;
}

.mpros
{
	padding:10px 0px;
	height:40px;
	border-bottom:1px dashed #CCC;
}

.mpros a
{
	color:#333;
}

.spics
{
	margin:0px 3px 3px 0px;
}

.profimg
{
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding:3px;
  display:inline-block;
  margin:0px 12px 12px 0px;
  border:1px solid #CCC;
}

.profimg img
{
	width:175px;
	height:175px;
	overflow:hidden;
  border:1px solid #CCC;
}

.pad20
{
	padding:20px;
}

.blockstyle 
{
  border:1px solid #DFDFDF;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
		  padding:6px 15px;
		  margin-top:30px;
}


.ssgrad
{
background-image: linear-gradient(left , rgb(181,65,112) 22%, rgb(241,92,66) 56%, rgb(254,191,0) 87%);
background-image: -o-linear-gradient(left , rgb(181,65,112) 22%, rgb(241,92,66) 56%, rgb(254,191,0) 87%);
background-image: -moz-linear-gradient(left , rgb(181,65,112) 22%, rgb(241,92,66) 56%, rgb(254,191,0) 87%);
background-image: -webkit-linear-gradient(left , rgb(181,65,112) 22%, rgb(241,92,66) 56%, rgb(254,191,0) 87%);
background-image: -ms-linear-gradient(left , rgb(181,65,112) 22%, rgb(241,92,66) 56%, rgb(254,191,0) 87%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0.22, rgb(181,65,112)),
	color-stop(0.56, rgb(241,92,66)),
	color-stop(0.87, rgb(254,191,0))
);
-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.ssgrad:before, .ssgrad:after {
    content: attr(title);
    padding: 50px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

.ssgrad:before { top: 1px; left: 1px }
.ssgrad:after  { top: 2px; left: 2px }


.helptext
{
	font-size:11px;
	color:#999;
	font-weight:normal;
	letter-spacing:0px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	text-shadow:0px 1px 1px #FFF;
  padding:0px 10px;
}

.label,.badge
{
	font-weight:normal;
}


.btn-primary2
{
white-space: nowrap;
display: block;
float: left;
margin: 10px 0px 10px 10px;
cursor: pointer;
background: #c63929;
background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
border: 1px solid #951100;
-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
color: #fff;
font-size: 14px;
line-height: 1;
padding: 10px 17px;
text-align: center;
text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.navbar .nav > li>a
{
	color:#333;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.clist {
border-bottom: 1px solid #EEE;
padding: 3px 0px;
}

.g
{
	color:#666;
}

.homeinner
{
	background:url(/images/crosscrisstr.png); height:30px;
	-webkit-box-shadow: 0px 1px 2px #666;
-moz-box-shadow: 0px 1px 2px #666;
box-shadow:0px 1px 2px #666;
width:1160px;
}

.hblock
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background:url(/images/white50.png);
  color:#666;
  font-size:13px;
  padding:10px 20px;
  height:290px;
  border:1px solid #FFF;
  text-shadow:0px 1px 1px #FFF;
  line-height:22px;
}

.liimg
{
	margin:5px 3px 0px 0px;
}

.btn-small
{
	font-size:13px;
}


.showlists
{
	font-size:18px;
	font-family:"Century Gothic","Open Sans", "Times New Roman", Times, serif;
	font-weight:normal;
	margin-top:20px;
	padding-top:0px;
	color:#FFA02F;
	text-transform:uppercase;
	margin-bottom:0px;
	padding-bottom:0px;
	line-height:24px;
	margin-bottom:10px;
}

.container
{
	width:1180px;
}

.jThumbnailScroller{position:relative; width:1130px; height:255px; margin:160px auto 0 auto; padding:0px; overflow:hidden;}
.jThumbnailScroller .jTscrollerContainer{position:absolute;}
.jThumbnailScroller .jTscroller{position:relative; height:100%; margin:0; left:0; top:0; display:inline-block; *display:inline;}
.jThumbnailScroller .jTscrollerNextButton,.jThumbnailScroller .jTscrollerPrevButton{position:absolute; display:block; width:40px; height:40px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; opacity:0.7;}
.jThumbnailScroller .jTscrollerNextButton{background:#000 url(/images/nextArrow.png) center center;}
.jThumbnailScroller .jTscrollerPrevButton{background:#000 url(/images/prevArrow.png) center center;}
.jThumbnailScroller .jTscrollerNextButton:hover,.jThumbnailScroller .jTscrollerPrevButton:hover{background-color:#d56916; opacity:1;}
.jThumbnailScroller .jTscroller a{display:block;}
.jThumbnailScroller .jTscroller a:hover{border-color:#fff;}
.jThumbnailScroller .jTscroller a:first-child{}
.jThumbnailScroller .jTscroller a img{border:none;}
/* different styled scrollers */
/* liquid width scroller */
.jThumbnailScroller#tS2{width:1160px;margin:10px auto;}
.jThumbnailScroller#tS2 .jTscrollerNextButton{margin:-20px 10px 0 10px; right:0; top:30%;}
.jThumbnailScroller#tS2 .jTscrollerPrevButton{margin:-20px 10px 0 10px; left:0; top:30%;}

.vblockdesc {
line-height: 18px;
margin-top: 20px;
text-align: center;
font-size:12px;
color:#888;
}

.vblocks {
display: inline-block;
width: 231px;
text-align:center;
vertical-align:top;
}

.vblocks .listingsh_picc
{
	margin:0px auto;
}
.vbl
{
	font-size:13px;
	font-family: 'Playfair Display', serif;
	line-height:20px;
	margin:0px auto;
	padding:0px;
	color:#000;
}

.vbl a
{
	color:#333;
}

.dg-wrap{width:600px;height:400px;position:relative;padding:0;overflow:hidden}.dg-column-wrap{display:block;margin:0;padding:0;position:absolute;left:0;top:0;overflow:hidden}.dg-cell-wrap{display:block;margin:0;padding:0;overflow:hidden}.dg-main-content-inner-wrap{display:block;margin:0;padding:0;overflow:hidden;position:relative}.dg-image{display:block;margin:0;padding:0}.dg-add-content-wrap{display:none}

.vpagetitle
{
	font-size:30px;
	font-family: 'Playfair Display', serif;
	background:url(images/dots.png);
	padding:2px 10px;
	color:#000;
}

.f15
{
	font-size:15px;
}

.poptags
{
	margin-top:15px;
}

.poptags a
{
	margin-right:5px;
}

#poplisting li
{
	line-height:16px;
	font-size:12px;
}

.blurhide
{
color: transparent; text-shadow: 0 0 7px #777
}

.black
{
	color:#000;
	text-shadow:none;
}

.white
{
	color:#FFF;
}

#sidebarstuck
{
	width:360px;
	background:#FFF;
}

.iconven
{
	margin-right:10px;
}

.iconven img
{
	width:30px;
}

.breadcrumb>li
{
	font-size:12px;
}

.f12
{
	font-size:12px;
}

.u
{
	text-decoration:underline;
}

.grr
{
	color:#999;
	text-shadow:0px 2px 1px #FFF;
	background:url(/images/white50.png);
	padding:20px;
}

.play
{
	font-family: 'Playfair Display', serif;
}

.listingsh .btn
{
	background-image:none;
}

.goldfont
{
	color:#D0B000;
}

.l12
{
	line-height:12px;
}

.showfeat
{
	display:inline-block;
	with:285px;
	overflow:hidden;
	padding:10px 33px;
}

.showfeat .liimg
{
	margin:5px 0px 0px 0px;
}

.tnone
{
	text-transform:none;
}

.b_like,.b_save,.logintouse,.saveshow
{
	font-family:"Open Sans", Arial, sans-serif;
	text-transform:none;
}

#showcdrop li a
{
	color:#666;	
}

.error
{
	color:#C00;
}


.btn-warning
{
	background-image:none;
	border-color:#FEA100;
}

.inscore
{
	background:url(/images/inscore.jpg) no-repeat;
	padding:6px;
	width:22px;
	height:22px;
	font-size:11px;
	color:#333;
}

.morewidth
{
	width:100%;
}

#fbsend
{
	position:fixed; z-index:9999;width:500px; bottom:0; margin:0; display:none; right:0px; background:#FFF;height:200px; overflow:scroll;
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 15px rgba(0,0,0,.3);
          box-shadow: 0 1px 15px rgba(0,0,0,.3);
}

.topheadbar {
text-align: right;
background: #000;
color: #FFF;
padding: 0px 50px;
font-size: 12px;
}

.topheadbar a
{
	color:#FFF;
}

.topheadbar .tsep
{
	margin:0px 15px;
}

.localbut
{
	background: url(/images/black_50.png);
	padding: 10px;
	border:1px solid #000;
}

.h2inline
{
	display:inline;
	margin:0px;
	padding:0px;
}

.menh2
{
	color:#333;
	padding:0px;
	margin:0px;
	line-height:33px;
}

.menh2 a
{
	color:#333;
	padding:0px 15px;
}

.menh2 a:hover
{
	color:#FEA100;
	text-decoration:none;
}
